{% verbatim %}{% layout none %}<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
<channel>
<title>{{ shop.name }}</title>
<link>{{ shop.url }}</link>
<description>{{ shop.description | strip_html }}</description>
{% endverbatim %}
{% for collection in collections %}
{% verbatim %}
{%- paginate
{% endverbatim %}
{{collection }}
{% verbatim %}
by 1000 -%}
{%- for product in
{% endverbatim %}
{{collection }}
{% verbatim %}
-%}
  {%- assign GoogleProductCategory = product.metafields.mm-google-shopping.google_product_category | default: 111 -%}
  {%- assign Gender = product.metafields.mm-google-shopping.gender | default: Unisex -%}
  {%- assign AgeGroup = product.metafields.mm-google-shopping.age_group -%}

  {%- if product.variants.size > 1 -%}
  {%- for variant in product.variants -%}
<item>
<g:id>{{ variant.id }}</g:id>
<title>{{ product.title | strip_html | strip_newlines | replace: '&', '&amp;' }}</title>
<description>{{ product.description | replace: '</', ' </' | strip_html | strip_newlines | replace: '&', '&amp;' }}</description>
<link>{{ shop.url }}{{ variant.url | append:  {% endverbatim %}
"&{{utm}}"
{% verbatim %} }}</link>
<g:google_product_category>{{ GoogleProductCategory | replace: '&', '&amp;' }}</g:google_product_category>
<g:item_group_id>{{ product.id }}</g:item_group_id>
<g:content_id>{{ variant.id }}</g:content_id>
<g:price>{{ variant.price | money_without_currency }} {{ shop.currency }}</g:price>
<g:condition>new</g:condition>
<g:availability>{% if variant.available %}in stock{% else %}out of stock{% endif %}</g:availability>
<g:image_link>http:{% if variant.image.src %}{{ variant.image.src | img_url: '720x720' }}{% else %}{{ product.featured_image.src | img_url: '720x720' }}{% endif %}</g:image_link>
<g:additional_image_link></g:additional_image_link>
<g:gtin>{{ variant.barcode }}</g:gtin>
<g:mpn>{{ variant.sku }}</g:mpn>
<g:product_type>{{ product.type | replace: '&', '&amp;' }}</g:product_type>
<g:age_group>{{ AgeGroup }}</g:age_group>
<g:gender>{{ Gender }}</g:gender>
<g:brand>{{ product.vendor }}</g:brand>
<g:inventory>{{ variant.inventory_quantity }}</g:inventory>
</item>
  {% endfor %}
  {% else %}

<item>
<title>{{ product.title | strip_html | strip_newlines | replace: '&', '&amp;' }}</title>
<description>{{ product.description | replace: '</', ' </' | strip_html | strip_newlines | replace: '&', '&amp;' }}</description>
<g:id>{{ product.id }}</g:id>
<link>{{ shop.url }}{{ product.url | append:  {% endverbatim %}
"?{{utm}}"
{% verbatim %} }}</link>
<g:google_product_category>{{ GoogleProductCategory | replace: '&', '&amp;'  }}</g:google_product_category>
<g:item_group_id>{{ product.id }}</g:item_group_id>
<g:price>{{ product.price | money_without_currency }} {{ shop.currency }}</g:price>
<g:condition>new</g:condition>
<g:availability>{% if product.available %}in stock{% else %}out of stock{% endif %}</g:availability>
{%- if product.images.size > 1 -%}
{%- for image in product.images -%}
    {% if forloop.first == true %}
    <image_link>http:{{ image.src | img_url: '720x720' }}</image_link>
    {% else %}
    <additional_image_link>http:{{ image.src | img_url: '720x720' }}</additional_image_link>
    {% endif %}
{% endfor %}
{% else %}
    <g:image_link>http:{{ product.featured_image.src | img_url: '720x720' }}</g:image_link>
{% endif %}
<g:gtin>{{ product.barcode }}</g:gtin>
<g:mpn>{{ product.sku }}</g:mpn>
<g:product_type>{{ product.type | replace: '&', '&amp;' }}</g:product_type>
<g:age_group>{{ AgeGroup }}</g:age_group>
<g:gender>{{ Gender }}</g:gender>
<g:brand>{{ product.vendor }}</g:brand>
</item>
  {% endif %}
{% endfor %}
{% endpaginate %}
{% endverbatim %}
{% endfor %}
{% verbatim %}
</channel>
</rss>
{% endverbatim %}